@model Projeto.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gravar</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css" />
    <script src="~/conteudos/scripts/modal.js"></script>
</head>
<body class="FormSalvarItem">
    <p><a id="AbrirMenu" href="javascript:AbrirMenu('Menu', 'AbrirMenu')">☰</a></p>
    <header id="Menu">
        <p>
            <b>Links</b>
            <a href="javascript:FecharMenu('Menu', 'AbrirMenu')">X</a>
        </p>
        <ol>
            <li><a href="@Url.Action("Index", "Tema")">Tema</a></li>
            <li><a href="@Url.Action("Index", "Item")">Itens tematicos</a></li>
            <li><a class="LinkSelecionado" href="@Url.Action("Index", "Cliente")">Clientes</a></li>
            <li><a href="@Url.Action("Index", "Aluguel")">Alugueis</a></li>
        </ol>
    </header>
    <main>
        <section>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div>
                <h1>Cadastrando cliente</h1>
                <hr />
                @Html.ValidationSummary(true, "")
                <div class="UmaLinhaInp">
                    Nome:
                    <div>
                        @Html.TextBoxFor(model => model.Nome, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Nome, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    CPF:
                    <div>
                        @Html.TextBoxFor(model => model.Cpf, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Cpf, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    Estado:
                    <div>
                        @Html.TextBoxFor(model => model.Estado, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Estado, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    Cidade:
                    <div>
                        @Html.TextBoxFor(model => model.Cidade, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Cidade, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    Bairro:
                    <div>
                        @Html.TextBoxFor(model => model.Bairro, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Bairro, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    Rua:
                    <div>
                        @Html.TextBoxFor(model => model.Rua, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Rua, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    Numero:
                    <div>
                        @Html.TextBoxFor(model => model.Numero, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Numero, "")
                    </div>
                </div>
                <div class="UmaLinhaInp">
                    CEP:
                    <div>
                        @Html.TextBoxFor(model => model.Cep, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.Cep, "")
                    </div>
                </div>
               

                <div>
                    <div>
                        <input type="submit" value="Criar" class="ActionBt Verde" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Voltar a listagem de clientes", "Index", null, new { @class = "ActionBt Vermelho" })
            </div>
        </section>
    </main>

</body>
</html>
