@model Projeto.Models.ItemTema

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div >
            <h4>ItemTema</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ItemTemaId)
    
            <div>
                @Html.LabelFor(model => model.nome)
                <div >
                    @Html.EditorFor(model => model.nome)
                    @Html.ValidationMessageFor(model => model.nome)
                </div>
            </div>
    
            <div >
                @Html.LabelFor(model => model.descricao)
                <div >
                    @Html.EditorFor(model => model.descricao)
                    @Html.ValidationMessageFor(model => model.descricao)
                </div>
            </div>
    
            <div>
                <div >
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Voltar a listagem de itens", "Index")
    </div>
</body>
</html>
