@model Projeto.Models.ItemTema

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css" />
    <script src="~/conteudos/scripts/modal.js"></script>
</head>
<body class="FormSalvarItem">
    <p><a id="AbrirMenu" href="javascript:AbrirMenu('Menu', 'AbrirMenu')">☰</a></p>
    <header id="Menu">
        <p>
            <b>Links</b>
            <a href="javascript:FecharMenu('Menu', 'AbrirMenu')">X</a>
        </p>
        <ol>
            <li><a href="@Url.Action("Index", "Tema")">Tema</a></li>
            <li><a class="LinkSelecionado" href="@Url.Action("Index", "Item")">Itens tematicos</a></li>
            <li><a href="@Url.Action("Index", "Cliente")">Clientes</a></li>
            <li><a href="@Url.Action("Index", "Aluguel")">Alugueis</a></li>
        </ol>
    </header>
    <main>
        <section>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    <h1>Editando item tematico</h1>
                    <hr />
                    @Html.ValidationSummary(true, "")
                    @Html.HiddenFor(model => model.ItemTemaId)

                    <div class="UmaLinhaInp">
                        Nome:
                        <div>
                            @Html.TextBoxFor(model => model.nome, new { required = "required" })
                            @Html.ValidationMessageFor(model => model.nome)
                        </div>
                    </div>

                    <div>
                        Descrição:
                        <div>
                            @Html.TextAreaFor(model => model.descricao, new { required = "required" })
                            @Html.ValidationMessageFor(model => model.descricao)
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="submit" value="Atualizar" class="ActionBt Verde" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Voltar a listagem de itens", "Index", null, new { @class = "ActionBt Vermelho" })
            </div>
        </section>
    </main>

</body>
</html>
