@model Projeto.Models.ItemTema

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gravar</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css" />
</head>
<body class="FormSalvarItem">
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div>
            <h1>Criando item tematico</h1>
            <hr />
            @Html.ValidationSummary(true, "")
            <div class="UmaLinhaInp">
                 Nome:
                <div >
                    @Html.TextBoxFor(model => model.nome)
                    @Html.ValidationMessageFor(model => model.nome, "")
                </div>
            </div>
    
            <div class="form-group">
                Descrição:
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.descricao)
                    @Html.ValidationMessageFor(model => model.descricao, "")
                </div>
            </div>
    
            <div >
                <div>
                    <input type="submit" value="Criar" class="ActionBt Verde"/>
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Voltar a listagem de itens", "Index", null, new { @class = "ActionBt Vermelho" })
    </div>
</body>
</html>
