@model IEnumerable<Projeto.Models.ItemTema>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css"/>
    <script src="~/conteudos/scripts/modal.js"></script>
</head>
<body id="HtmlIndexItemTema">

        <a href="@Url.Action("Gravar")">
            Adicionar novo item tematico
           
            <b>+</b>
        </a>
        
  
    
        @if (@TempData["Message"] != null)
        {
            <span class="SystemMsg">
                @TempData["Message"]
            </span>
        }


    <table>
        @if(Model.Count() == 0)
        {
        <tr>
            <th class="ThBorda BordaBaixa">
                Nome
            </th>
            <th class="ThBorda BordaBaixa">
                Descrição
            </th>
            <th></th>
        </tr>
        }
        else
        {
        <tr>
            <th class="ThBorda">
                Nome
            </th>
            <th class="ThBorda">
                Descrição
            </th>
            <th></th>
        </tr>
        }
        
    
    @foreach (var item in Model) {
        string idForm = "Item" + @item.ItemTemaId.ToString();
        <tr>
            <td class="TdBorda">
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td class="TdBorda">
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Editar", new { id = item.ItemTemaId }, new {@class = "ActionBt Azul" }) 
                @Html.ActionLink("Visualizar", "Ver", new { id = item.ItemTemaId }, new { @class = "ActionBt Verde" }) 

                <a class="ActionBt Vermelho" href="javascript:AbrirModal('@idForm')">
                    Remover


                </a>

                @using (Html.BeginForm("Excluir", "Item", FormMethod.Post,
                new { enctype = "multipart/form-data", id = idForm, @class = "ModalModelo" }))
                {

                    @Html.AntiForgeryToken()
                    <input hidden name="id" value="@item.ItemTemaId" />
                    <span>Tem certeza?</span>
                    <a href="javascript:FecharModal('@idForm')">Não, não desejo excluir</a>
                    <input type="submit" value="Sim, desejo excluir" />

                }
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
