@model Projeto.Models.Tema

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css" />
    <script src="~/conteudos/scripts/modal.js"></script>
</head>
<body id="Ver">
    <p><a id="AbrirMenu" href="javascript:AbrirMenu('Menu', 'AbrirMenu')">☰</a></p>
    <header id="Menu">
        <p>
            <b>Links</b>
            <a href="javascript:FecharMenu('Menu', 'AbrirMenu')">X</a>
        </p>
        <ol>
            <li><a class="LinkSelecionado" href="@Url.Action("Index", "Tema")">Tema</a></li>
            <li><a href="@Url.Action("Index", "Item")">Itens tematicos</a></li>
            <li><a href="@Url.Action("Index", "Cliente")">Clientes</a></li>
            <li><a href="@Url.Action("Index", "Aluguel")">Alugueis</a></li>
        </ol>
    </header>
    <main>
        <section>
            <h1>Visualizando tema</h1>
            <div>
                <h2> @Html.DisplayFor(model => model.Nome) @Html.ActionLink("Alterar", "Editar", new { id = Model.TemaId }, new { @class = "ActionBt Azul" })</h2>
                <p> @Html.DisplayFor(model => model.Cor)  </p>
                <p>R$ @Html.DisplayFor(model => model.ValorAluguel)  </p>

            </div>
            <p>

                @Html.ActionLink("Voltar a listagem de temas", "Index", null, new { @class = "ActionBt Vermelho" })
            </p>
        </section>
    </main>

</body>
</html>
