@model IEnumerable<Projeto.Models.Aluguel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/conteudos/estilos/qualquer.css" />
    <script src="~/conteudos/scripts/modal.js"></script>

</head>
<body id="HtmlIndex">
    <p><a id="AbrirMenu" href="javascript:AbrirMenu('Menu', 'AbrirMenu')">☰</a></p>
    <header id="Menu">
        <p>
            <b>Links</b>
            <a href="javascript:FecharMenu('Menu', 'AbrirMenu')">X</a>
        </p>
        <ol>
            <li><a class="LinkSelecionado" href="@Url.Action("Index", "Tema")">Tema</a></li>
            <li><a href="@Url.Action("Index", "Item")">Itens tematicos</a></li>
            <li><a href="@Url.Action("Index", "Cliente")">Clientes</a></li>
            <li><a href="@Url.Action("Index", "Aluguel")">Alugueis</a></li>
        </ol>
    </header>
    <main>
        <section>
            <a href="@Url.Action("Gravar")">
                Alugar tema

                <b>+</b>
            </a>



            @if (@TempData["Message"] != null)
            {
                <span class="SystemMsg">
                    @TempData["Message"]
                </span>
            }


            <table>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <th class="ThBorda BordaBaixa">
                            Valor
                        </th>
                        <th class="ThBorda BordaBaixa">
                            Data da festa
                        </th>
                        <th class="ThBorda BordaBaixa">
                            Horario de inicio
                        </th>
                        <th class="ThBorda BordaBaixa">
                            Horario de termino
                        </th>
                        <th></th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="ThBorda">
                            Valor
                        </th>
                        <th class="ThBorda">
                            Data da festa
                        </th>
                        <th class="ThBorda">
                            Horario de inicio
                        </th>
                         <th class="ThBorda">
                            Horario de termino
                        </th>
                        <th></th>
                    </tr>
                }


                @foreach (var item in Model)
                {
                    string idForm = "Item" + @item.AluguelId.ToString();
                    <tr>
                        <td class="TdBorda">
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td class="TdBorda">
                            @item.DataFesta.ToString("dd/MM/yyyy")
                        </td>
                        <td class="TdBorda">
                            @DateTime.Today.Add(item.HorarioInicio).ToString("hh:mm")
                        </td>
                        <td class="TdBorda">
                            @DateTime.Today.Add(item.HorarioTermino).ToString("hh:mm")
                        </td>
                        <td>
                            @Html.ActionLink("Atualizar", "Editar", new { id = item.AluguelId }, new { @class = "ActionBt Azul" })
                            @Html.ActionLink("Visualizar", "Ver", new { id = item.AluguelId }, new { @class = "ActionBt Verde" })

                            <a class="ActionBt Vermelho" href="javascript:AbrirModal('@idForm')">
                                Remover


                            </a>

                            @using (Html.BeginForm("Excluir", "Aluguel", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = idForm, @class = "ModalModelo" }))
                            {

                                @Html.AntiForgeryToken()
                                <input hidden name="id" value="@item.AluguelId" />
                                <span>Tem certeza?</span>
                                <a href="javascript:FecharModal('@idForm')">Não, não desejo excluir</a>
                                <input type="submit" value="Sim, desejo excluir" />

                            }
                        </td>
                    </tr>
                }

            </table>
        </section>
    </main>

</body>
</html>
